<!DOCTYPE html>
<html>
<head>
  <title>Pierre's Treats</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
  <div class="container">
    @RenderBody()
  </div>
  <hr />
  @using System.Security.Claims
  
  @if (User.Identity.IsAuthenticated)
{
    <p>Logged in as @User.Identity.Name</p>
    @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="btn btn-default" value="Log out" />
  }
}
else
{
    <p>@Html.ActionLink("Log In", "Login", "Account")</p>
}
</body>
</html>